.banner {
  padding: $gutter 0;
  background: $white;

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo-wrap {
    display: block;
    margin: auto;

    @include respond-to("medium") {
      margin: 0;
    }
  }

  &__logo {
    max-height: 38px;
  }

  &__widget {
    display: none;
    max-height: 25px;

    @include respond-to("medium") {
      display: block;
    }
  }
}
