.recommend {
  display: none;
  padding-top: $gutter * 2;

  @include respond-to("medium") {
    display: block;
  }

  &__header {
    margin: 0;
    padding-bottom: $gutter * 3;
    font-size: 40px;
    color: $jacksonsPurple;
    text-align: center;

    @include respond-to("large") {
      width: 80%;
      margin: 0 auto;
    }
  }

  &__wrap {
    text-align: center;
  }

  &__icon {
    height: 40px;
  }

  &__item {
    margin-bottom: $gutter * 2;
  }
}
